body {
  color: #000000;
}

header{
  color: #000000;
}

h1{
  color: #000000;
}

h2{
  color: #000000;
}

body{
  color: #000000;
}

li{
  color: #000000;
}

head{
  color:#000000;
}

strong{
  color: #000000;
}

.contribute {
  color: #000000;
  background-color: #FFFFFF;
}

a{
  color: #000000;
}

header {
  color: #000000;
  background-color: #FFFFFF;
}

nav {
  color: #000000;
  background-color: #FFFFFF;
}

ul{
  color: #000000;
}

nav a{
  color: #000000;
}

main {
  color: #000000;
  background-color: #FFFFFF;
}

img {
  display: none;
}

iframe{
  display:none;
}
